/** header styles */
header {
  background-color: #363636;
  color: #ffffff;
  padding: 60px 40px;

  h1,
  h4 {
    font-weight: bold;
  }
}

.alert {
  margin-top: 40px;
  display: none;
}

/** post container */
.post {
  padding: 20px;

  /** individual post */
  & a {
    text-decoration: none;
  }
  .row {
    padding: 20px;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
    color: #333333;
    font-size: 14px;

    &:hover {
      background-color: #fafafa;

      .trash {
        display: block;
      }
    }

    .author {
      color: #999999;
    }

    .trash {
      display: none;
      width: 24;
      text-align: center;

      svg {
        width: 16px;
      }
    }

    /** responsive styles */
    @media(max-width: 797px) {
      padding: 6px;

      .trash {
        display: block;
        padding: 10px;
        background-color: #f0f0f0;
        margin-top: 20px;

        &:before {
          content: 'Remove Post ';
        }
      }
    }
  }
}
