doctype html
<!--[if IE 10]><html class="ie"> <![endif]-->
<!--[if !IE 10]><!--> <html> <!--<![endif]-->
  head
    meta(charset='utf-8')

    title Hacker News App

    meta(name="author" content="Rodrigo Navarro")

    //- Mobile Devices Viewport Resset
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

  body
    h1 Houston we got a problem!
    h4 I think you are lost
      a(href='/') Go Home
