doctype html
<!--[if IE 10]><html class="ie"> <![endif]-->
<!--[if !IE 10]><!--> <html> <!--<![endif]-->
  head
    meta(charset='utf-8')

    title Hacker News app

    meta(name="author" content="Rodrigo Navarro")

    //- Mobile Devices Viewport Resset
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    //- Open Styles - SCSS
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet' href='/fonts/icomoon/style.css')

  body
    header
      h1 HN Feed
      h3 We <3 Hacker News!

    .container-fluid
      .row.news-list
        .col-md-9 Title - autohr -
        .col-md-2 11:20 am
        .col-md-1 t

    //- script
    script(src='/js/vendor.js')
    script(src='/js/app.js')
